h1 , h2, .next  {
  text-align: center;
}

h1 {
  color: white;
  background-color: darkcyan;
}

/*Layout 1*/

    .header {                    /*for all the layouts*/
      min-height: 100px;
      background-color: blue;
    }

    .wrapper {                   /*for all the layouts*/
      overflow: hidden;
    }

    .main {
     float: left;
     width: 70%;
     min-height: 100px;
     background-color: mediumseagreen;
    }

    .aside {

      float: right;
      width: 30%;
      min-height: 100px;
      background-color: orange;
    }

    .footer{                   /*for all the layouts*/
      min-height: 100px;
      background-color: black;

    }


/*Layout 2*/

    .main2{
      float: left;
      width: 33.33%;
      min-height: 100px;
    }

    .red{
      background-color: red;
    }
    .purple{
      background-color: purple;
    }
    .yellow{
      background-color: yellow;
    }



/*Layout 3*/

    .main3 {
      float: left;
      width: 60%;
      min-height: 200px;
      background-color: red;
    }

    .aside2 {
      float: right;
      width: 40%;
      min-height: 100px;
    }

    .cyan {               /*For layout 3, 4 & 5*/

      background-color: cyan;
    }
    .orange {

      background-color: orange;
    }




/*Layout 4*/

    .main4 {
      float: left;
      width: 60%;
      min-height: 150px;
    }
    

    
    .aside4{
      float: right;
      width: 40%;
      min-height: 100px;
    }


  .blog {
    float: right;
    width: 20%;

    min-height: 100px ;
  }

/*Layout 5*/

    .main5 {
     float: left;
     width: 30% ;
     min-height: 300px;
    }

    .brown {
      background-color: brown;
    }
    .grey {
      background-color: grey;
    }

    .green{
      background-color: mediumseagreen;
    }


.b1{

    border: 5px dotted purple;
  }

.b2{

  border: 5px solid blue;
}
.b3{

  border: 5px double skyblue;
}
.b4{

  border: 5px groove;
}
.b5{

  border: 5px ridge;
}
.b6{

  border: 5px inset;
}

.b7{

  border: 5px outset;
}

.b8{

  border: 5px dashed orange;
}

.b9 {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}

.b10 {
  border-style: dotted dashed solid double;
}

.b11 {
  border-left: 15px solid blue;
  background-color: darkgrey;

}

.text{
  text-align: center;
}

.box{
  width: 30%;
  background-color: lightgrey;
  border: 15px solid mediumpurple;
  margin: 20px;
  padding: 50px;

}

.box2{
  width: 30%;
  outline: 10px solid mediumpurple;
  background-color: lightgrey;
  border: 5px solid black;
  margin: 20px;
  padding: 50px;

}


#overflow {
  background: lightgrey;
  padding: 15px;
  width: 30%;
  height: 100px;
  overflow: scroll;
  border: 5px solid black;
  margin: 10px;
}